body {
  margin: 8px;
}

:where(button, input, select, textarea) {
  border: 1px solid black;
}

.wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.left {
  padding: 8px;
  width: 100%;
  /*border: 1px black solid;*/
  margin-right: 0.5em;
  background: #eee;
}

.left textarea {
  width: 100%;
  font-family: monospace;
}

.right {
  padding: 8px;
  width: 100%;
  /*border: 1px black solid;*/
  margin-left: 0.5em;
  background: #eee;
}

.right textarea {
  width: 100%;
  font-family: monospace;
}

.ansi {
  font-family: monospace;
}

#communicate {
  background: lightgray;
  width: 100%;
  font-family: monospace;
  padding: 4px;
}

#communicate .user-input {
  color: #b31616;
}
#communicate pre {
  display: inline;
  font-family: monospace;
}

#line-form, #line-form > input {
  width: 100%;
}

#line-form {
  margin-bottom: 6px;
}

button {
  border-radius: 16px;
  padding: 4px 12px;
  border: 0px;
  background: #c1c1c1;
  cursor: pointer;
}

button:hover {
  background: #aaa;
}

.button-group {
  text-align: right;
}

.input-args {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0px;
}
